/* @SYSTEM CSS Modification */

/* GUEST */
body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;
  overflow-x: hidden;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Footer-Guest */
#footer-guest {
  background-color: rgb(17,17,17);
  color: white;
  height: 400px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 75px;
  margin-bottom: 0;
}
#footer-guest .container .row {
  border-bottom: 1px solid rgb(136,136,129)
}
#footer-guest .container .row h4 {
  color: gold;
}
#footer-guest p {
  color: rgb(136,136,129);
}
#footer-guest .container .row ul{
  list-style: none;
}
#footer-guest .container .row a{
  color: rgb(136,136,129);
  text-decoration: none;
  transition: 0.3s;
}
#footer-guest .container .row a:hover{
  color: rgb(206,27,30);
}
#footer-guest .container .row #alt li{
  border-bottom: 1px solid rgb(136,136,129); 
}

/* ADMIN - System latest modification */
ul.app-menu li.treeview ul.treeview-menu {
  padding-left: 24px;
}